@media (max-width: 980px) {
    .recent__works {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 960px) {

    .slider,
    .container-header,
    .portfolio {
        margin-left: 10px;
        margin-right: 10px;
    }

    .slick-slider img {
        max-width: 100%;
        min-height: auto;
    }

}

@media (max-width: 930px) {
    .recent__works-item {
        flex-wrap: wrap;
        justify-content: left;
    }

    .recent__works-item-main {
        padding: 10px;
    }
}

@media (max-width: 900px) {
    .slider-min {
        display: none;
    }

    .slider__item-title-text {
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .portfolio {
        margin-top: 10px;
    }

}

@media (max-width: 760px) {
    .portfolio__item img {
        display: none;
    }

    .portfolio__item h3 {
        margin-left: 0px;
        margin-right: 5px;
    }
}

@media (max-width: 757px) {

    .portfolio__item,
    .footer__inner {
        flex-wrap: wrap;
        justify-content: left;
    }

    .portfolio__item-one,
    .portfolio__item-two {
        margin-bottom: 20px;
    }

    .portfolio__item h3,
    .slider__item-title-text h3 {
        font-size: 26px;
    }

    .portfolio__item p,
    .slider__item-title-text p {
        font-size: 20px;
    }

}

@media (max-width: 640px) {

    .slick-prev,
    .slick-arrow,
    .slick-next,
    .slick-arrow {
        display: none;
    }

    .slider__item-title-text {
        display: none;
    }
}

@media (max-width: 531px) {
    .header__menu-btn {
        display: block;
        margin-top: 8px;
    }
    .header__menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 25px;
        width: 100%;
        padding-left: 0;
        background-color: #ECECEC;
        padding: 30px;
        z-index: 10;
        border-bottom: 2px solid #E45F42;
    }
    .header__menu li{
        display: block;
        text-align: center;
    }
    .header__menu li a {
font-size: 25px;
    }
    .container-header {
        margin-top: 4px;
    }
  
}
